@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    background-color: #111827;
    color: #f9fafb;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    background-color: #1f2937;
    padding: 10px 25px;
    font-size:35px;
    font-weight: bold;
    margin-top: 5%;
}

.choice-cpu {
    margin-top: 35px;
}

.result {
    margin-top: 25px;
    font-weight:bold;
    font-size:25px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.btn-rock,
.btn-paper,
.btn-scissors {
    background-color: #1f2937;
    border-radius: 8px;
    padding: 10px 25px;
    margin-top: 50px;
}